/* NAVBAR */
.navbar {
    background-color: #f8f9fa; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold; 
    color: #343a40; 
}
.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
    color: #343a40; 
}
/* CUERPO DE LA PÁGINA */
body{
    background-color: #ffffff; 
}

h1, p, form{
    text-align: center;
    color: #343a40; 
}

form{
    max-width: 400px; 
    margin: 0 auto; 
}
img{
    display: block;
    margin: auto;
}
